body
{
	background:#efefef;
	font-family:Georgia, "Times New Roman", Times, serif;
	width: 70%;
}

#body
{
	margin-top:10px;
}
#body table
{
	
	border-collapse: collapse;
	margin:0 auto;
	position:center;
	bottom:10px;
	text-align:center;
	color:#fff;
}
table td,th
{
	padding:15px;
}

*
{
	padding:0;
	margin:0;
}